@font-face {
    font-family: sundown;
    font-weight: 300;
    src: url(NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: sundown;
    font-weight: 100;
    src: url(NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: sundown;
    font-weight: 100;
    src: url(NeueHaasDisplayRoman.ttf);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sundown;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    z-index: 10;
    position: relative;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
    position: relative;
    padding: 1vw 2vw;
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    position: relative;
    padding: 2vw 4vw;

}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 2vw;
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid rgb(78, 73, 73);
    border-radius: 20px;
    font-weight: 700;
    position: relative;
    color: rgba(55, 52, 52, 0.421);
    font-size: 17px;
    transition: all ease 0.4s;
    overflow: hidden;
}

#nav-part2 h4::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
    bottom: 0%;
    border-radius: 0;
}

#nav-part2 h4 a {
    text-decoration: none;
    position: relative;
    z-index: 9;
    color: black;
}

#nav-part2 h4:hover a {
    color: azure;
}

nav h3 {
    display: none;
}

#center {

    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid black;
    padding-bottom: 2.5vw;
}

#left h3 {
    width: 25vw;
    font-size: 1.8vw;
}

#center h1 {
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
}

#page1 video {
    margin-top: 2vh;
    border-radius: 20px;
    width: 100%;
}

#page2 {
    width: 100%;
    background-color: #EFEAE3;
}

#moving-text {
    white-space: nowrap;
    overflow-x: auto;
}

#moving-text::-webkit-scrollbar {
    display: none;
}

#moving-text h1 {
    display: inline-block;
    white-space: nowrap;
    font-size: 8vw;
}

#container {
    display: inline-block;
    white-space: nowrap;
    animation-name: move;
    animation-duration: 13s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-top: 8vw;
}



#circle {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #FE330A;
    display: inline-block;
    margin: 1vw 2vw;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#page2-bottom {
    height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page2-bottom h1 {
    font-size: 3.8vw;
    font-weight: 300;
    line-height: 1;
    width: 50%;
    margin-left: 7%;
}

#bottom-part2 img {
    width: 100%;
    border-radius: 1vw;
}

#bottom-part2 {
    width: 18%;
    margin-right: 9%;
    margin-top: 20%;
}

#bottom-part2 p {
    margin-top: 2vw;
    font-weight: 100;
    font-size: 1vw
}


#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    font-weight: 100;
}

#feat-pro {
    display: flex;
    align-items: center;

}

#small-circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #FE330A;
    margin: 1VW;
    margin-right: 10px;
    margin-left: 2vw;
}

#elem {
    position: relative;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0vw 2vw;
    border-bottom: 1px solid black;
    overflow: hidden;
}

#elem h2 {
    font-size: 3vw;
    z-index: 9;
    position: relative;
}

#elem .overlay {
    height: 100%;
    width: 100%;
    background-color: #FF9831;
    position: absolute;
    left: 0%;
    top: -100%;
    transition: all ease 0.3s;
}

#elem:hover .overlay {
    top: 0%;
}

#fixed-image {
    height: 30vw;
    width: 25vw;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 20%;
    border-radius: 20px;
    display: none;
    background-size: cover;
}

#page4 {
    height: 80vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 10vw 2vw;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper:hover {
    cursor: pointer;
}

.swiper-slide {
    border-left: 1px solid #aeadad;
    width: 30%;
    padding: 2vw;
    margin-top: 2vw;
    font-weight: 100;
    font-size: 1vw;
}

.swiper-slide img {
    display: block;
    padding-bottom: 1vw;
}

#page5 {
    height: 100vh;
    width: 100%;

}

#footer {
    position: fixed;
    z-index: 9;
    bottom: 0;
    height: 100vh;
    width: 100%;
    background-color: black;
    color: #efeae3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 3vw;
}

#footer h1 {
    font-size: 19vw;
}

#footer-div {
    height: 20vh;
    width: 100%;
    background-color: red;
}

#footer-bottom {
    border-top: 1px solid #dadada;
    width: 100%;
    height: 5vh;

}

#footer-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2vw;
}

#footer-info li {
    list-style: none;
    font-weight: 100;
    font-size: 1vw;
}

#full-scr {
    height: 100vh;
    background-color: #00000070;
    width: 100%;
    z-index: 99;
    position: fixed;
    top: -100%;
    transition: all ease 0.5s;
}

#full-1 {
    height: 50%;
    width: 100%;
    background-color: #EFEAE3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#loader {
    height: 100%;
    width: 100%;
    background-color: #000;
    z-index: 999;
    position: fixed;
    top: 0;
    transition: all ease 0.8s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader h1 {
    font-size: 4vw;
    background: linear-gradient(to right, orange, orangered);
    color: transparent;
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: loader;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}

#loader h1:nth-child(1) {
    animation-delay: 1s;
}

#loader h1:nth-child(2) {
    animation-delay: 2s;
}

#loader h1:nth-child(3) {
    animation-delay: 3s;
}

@keyframes loader {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


@media (max-width:600px) {

    #page1 {
        min-height: 100vh;
        width: 100%;
        padding: 0vw 5vw;
    }

    nav {
        padding: 8vw 5vw;
        background-color: #EFEAE3;
    }


    nav img {
        height: 9vh;
        transition: all ease 0.2s;
    }

    #nav-part2 {
        display: none;
    }

    nav h3 {
        display: block;
        padding: 3vw 5vw;
        border: 1px solid #ababab;
        border-radius: 50px;
        font-size: 4vw;
        font-weight: 200;
        padding-left: 10vw;
    }


    #center {

        height: 75vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: 1px solid black;
        padding: 10vw 5vw;
        padding-bottom: 10vw;
        flex-direction: column-reverse;
    }

    #left h3 {
        width: 80%;
        font-size: 4vw;
        line-height: 5vw;
        font-weight: 200;
    }

    #center h1 {
        font-size: 14vw;
        line-height: 14vw;
        text-align: right;
    }

    #page1 video {
        margin-top: 2vh;
        border-radius: 20px;
        width: 100%;
        object-fit: cover;
        height: 82vh;
    }


    #page2 {
        width: 100%;
        background-color: #EFEAE3;
    }

    #moving-text {
        white-space: nowrap;
        overflow-x: auto;
    }

    #moving-text::-webkit-scrollbar {
        display: none;
    }

    #moving-text h1 {
        display: inline-block;
        white-space: nowrap;
        font-size: 14vw;
    }

    #container {
        display: inline-block;
        white-space: nowrap;
        animation-name: move;
        animation-duration: 13s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        margin-top: 8vw;
    }



    #circle {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background-color: #FE330A;
        display: inline-block;
        margin: 1vw 2vw;
    }

    #page2-bottom {
        height: 100vh;
        width: 100%;
        background-color: #EFEAE3;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 8vw;
    }

    #page2-bottom h1 {
        font-size: 8vw;
        line-height: 1;
        width: 90%;

    }

    #bottom-part2 img {
        width: 100%;
        border-radius: 1vw;
    }

    #bottom-part2 {
        width: 80%;
        padding-left: 5vw;
    }

    #bottom-part2 p {
        margin-top: 5vw;
        margin-bottom: 11vw;
        font-weight: 200;
        font-size: 4vw;
    }

    #page4 {
        height: 40vh;
        width: 100%;
        background-color: #EFEAE3;
        padding: 10vw 2vw;
    }

    #loader h1 {
        font-size: 10vw;
    }

    #fixed-image {
        height: 91vw;
        width: 49vw;
        position: fixed;
        z-index: 99;
        left: 50%;
        top: 20%;
        border-radius: 20px;
        display: none;
        background-size: cover;
    }


    #footer {
        position: fixed;
        z-index: 9;
        bottom: 0;
        height: 100vh;
        width: 100%;
        background-color: black;
        color: #efeae3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3vw;
    }

    #footer h1 {
        font-size: 19vw;
    }

    #footer-div {
        height: 20vh;
        width: 100%;
        background-color: red;
    }

    #footer-bottom {
        border-top: 1px solid #dadada;
        width: 100%;
        height: 5vh;

    }

    #footer-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 2vw;
    }

    #footer-info li {
        list-style: none;
        font-weight: 100;
        font-size: 2vw;
    }

    #elem h2 {
        font-size: 5vw;
        z-index: 9;
        position: relative;
    }

}